section
	.investment__wrapper
		.content__wrapper
			.content__wrapper
				.content__text
					p 
					|
					span Phụng sự khách hàng, phụng sự Tổ quốc 
					| và gắn kết bạn bè thế giới, góp phần kiến tạo cộng đồng thịnh vượng, nâng cao các giá trị văn hóa Việt Nam, giao lưu với các nền văn hóa trên thế giới
				.content__author
					p TS Nguyễn Đức Thọ
					span CHỦ TỊCH HĐQT - TGĐ 
				.content__logo
						img(src="./assets/logo-banner/logo.png", alt="")
		.content__desc
			h2.content__Dtitle LĨNH VỰC ĐẦU TƯ
				.row
					.col-3
						.contentD__item
							img(src="./assets/inves__item/Luxury-real-estate.png", alt="")
							.contentD_Itext
								h2 01/
								h2 BẤT ĐỘNG SẢN
					.col-3
						.contentD__item
							img(src="./assets/inves__item/jodyhongfilms-sI1mbxJFFpU-unsplash.png", alt="")
							.contentD_Itext
								h2 02/
								h2 GIÁO DỤC
					.col-3
						.contentD__item
							img(src="./assets/inves__item/Airplane1.png", alt="")
							.contentD_Itext
								h2 03/
								h2 HÀNG KHÔNG
					.col-3
						.contentD__item
							img(src="./assets/inves__item/sorasak-_UIN-pFfJ7c-unsplash.png", alt="")
							.contentD_Itext
								h2 04/
								h2 DU LỊCH
					.social__wrapper
								.social__item
									img(src="./assets/inves__item/icon/noun_team_2353530.png", alt="")
									.social__text
										h2 
											|
											span 300 
											| NHÂN VIÊN
								.social__item
									img(src="./assets/inves__item/icon/noun_team_2353530.png", alt="")
									.social__text
										h2 
											|
											span 300  
											| NHÂN VIÊN
								.social__item
									img(src="./assets/inves__item/icon/noun_team_2353530.png", alt="")
									.social__text
										h2 
											|
											span 300 
											| NHÂN VIÊN
								.social__item
									img(src="./assets/inves__item/icon/noun_team_2353530.png", alt="")
									.social__text
										h2 
											|
											span 300 
											| NHÂN VIÊN