section.container-fluid
	.news__wrapper
		.row.blog___wrapper
			.col-3.news__text
				.news__Ttitle
					h2 TIN TỨC
				.news__Tdecs
					p TIN AN TÍN GROUP
					p THÔNG TIN BÁO CHÍ
					p THÔNG TIN HỢP TÁC
			.col-9.swiper__wrapper
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.blog__big
								img(src="./assets/project/GKyIAqr1.png", alt="blogBig")
								p.blog__text KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
						.swiper-slide
							.blog__big
								img(src="./assets/project/GKyIAqr1.png", alt="blogBig")
								p.blog__text 1KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
						.swiper-slide
							.blog__big
								img(src="./assets/project/GKyIAqr1.png", alt="blogBig")
								p.blog__text 2KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
						.swiper-slide
							.blog__big
								img(src="./assets/project/GKyIAqr1.png", alt="blogBig")
								p.blog__text 3KHU DU LỊCH NGHỈ DƯỠNG VÀ BIỆT THỰ SINH THÁI FLC CÙ LAO XANH, QUY NHƠN, BÌNH ĐỊNH
					// Add Pagination
					.swiper-pagination

